<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JarvisBase</key>
	<string>$(JARVIS_BASE)</string>
	<key>JarvisCIKeysBase</key>
	<string>$(JARVIS_CI_KEYS_BASE)</string>
	<key>JarvisCIBackupEndpoint</key>
	<string>$(JARVIS_CI_BACKUP_ENDPOINT)</string>
	<key>JarvisCIBackupBucket</key>
	<string>$(JARVIS_CI_BACKUP_BUCKET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
